@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,500;8..144,700&display=swap");

* {
  font-family: "Roboto Flex", sans-serif;
}

div{
    position: relative;
}

.logo-container{
    float:left;
    margin-top: 4cm;
}
.form-container {
    float: left;
    max-width: 550px;
    margin-left: 3cm;
  }
  .form-group {
    margin: 20px auto;
  }
  .show-password {
    position: absolute;
    right: 0;
    top: -8px;
    color: #4caf50;
    height: 30px;
  }

    .button-container {
        float: left;
        width: 30%;
}
.check-container {
   
    display: inline-block;
    width: 70%;
  }
  input.input-checkbox {
    display: inline;
    height: 15px;
    width: 15px;
    margin-top: 0;
  }
  button-signup{
    background-color: white;
    border: 1px solid black;
    padding: 15px 40px;
  }
  
  ul {
    columns: 2;
    list-style: none;
  }
  
  ul li::before {
    content: "\2022"; 
    color: red; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
  }
  .show-password img {
    max-width: 30px;
    position: relative;
    top: 5px;
    left: -5px;
  }
  input {
    display: block;
    height: 30px;
    width: 100%;
    margin-top: 15px;
  }
  .label-header{
    position: absolute;
    right: 2cm;
    top: 4px;
    color: black;
    height: 30px;  
  }
  .button-facebook{
color: beige;
    text-align: center;
    background-color:darkblue;
    line-height: 57px;
  }
  .button-google{
    background-color:blue;
    line-height: 57px;

    
  }
  .button-acount{
    position: absolute;
    padding: 30px;
    font-weight: 100;
    border-radius: 35% ;
    border: 2px dashed black;
     }

     .footer-container{
     position: absolute;
     bottom: 10px;
     width: 100%;
     height: 40px;
    text-align: center;
     }
a[href="http://www.mailchimp.com"]{
text-decoration: none;
  
}
a[href="http://www.prof.com"]{
  text-decoration: none;
}
  
  a[href="http://www.term.com"]{
    text-decoration: none;
  }
  
  